<html>
<head>
  <title>TL;DR cheat-sheets</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-...some-hash-value..." crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/gppostitnote.js') }}"></script>
</head>
<body>
  <header class="main-header">
    <div class="searcher">
      <form method="GET">
        <label for="search">
          <input type="text" id="search" name="search" placeholder="Search...">
        </label>
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="add-note">
      <button id="add-note-btn">
        <!-- <i class="fa-regular fa-message-plus"></i> -->
        <i class="fa-solid fa-square-plus"></i>Add new
      </button>
    </div>
  </header>
  <br/><br/><br/>
  <gp-postit-note degrees="-2" title="Welcome!!!" style="margin-left:100px">
    <h5>
      This is the place for those who don't want to spend 86 hours watching a course just to find out:
      
      <ul style="text-align: left;">
        <li>how to make round corners in CSS</li>
        <li>how to make HelloWord app in Python Flask</li>
        <li>and so on... </li>
      </ul>
      ...just short and sweet <code>code snippets.</code><br/> Smart people will figure it out.
    </h5>
  </gp-postit-note>
  <br/><br/>{{content | safe}}
  <br/><br/>
  <div id="backdrop"></div>
  <div id="modal">
    <header>
      <slot name="title">Add new cheatsheet:</slot>
    </header>
    <section id="main">
      <div id="new-note-form">
        <form method="POST">
          <label class="new-note-label" for="title">Title:</label>
          <input type="text" id="title" name="title"><br><br>
          <label class="new-note-label" for="content">Content:</label>
          <textarea id="content" name="content" rows="4" cols="30"></textarea><br><br>
          <input id="new-note-submit-button" type="submit" value="Submit">
        </form>
      </div>
    </section>
  </div>
  <script>
    const showModalButton = document.getElementById('add-note-btn');
    const backdrop = document.getElementById('backdrop');
    const modal = document.getElementById('modal');
    showModalButton.addEventListener('click', () => {
      backdrop.classList.add('opened');
      modal.classList.add('opened');
    });
    backdrop.addEventListener('click', () => {
      backdrop.classList.remove('opened');
      modal.classList.remove('opened');
    });
  </script>
</body>
</html>